
/* dm-serif-display-regular - latin */
@font-face {
  font-family: 'DM Serif Display';
  font-style: normal;
  font-weight: 400;
  src: local('DM Serif Display Regular'), local('DMSerifDisplay-Regular'),
       url('/fonts/dm-serif-display-v3-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/dm-serif-display-v3-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/fonts/dm-serif-display-v3-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
}
/* dm-serif-display-italic - latin */
@font-face {
  font-family: 'DM Serif Display';
  font-style: italic;
  font-weight: 400;
  src: local('DM Serif Display Italic'), local('DMSerifDisplay-Italic'),
       url('/fonts/dm-serif-display-v3-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/dm-serif-display-v3-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('/fonts/dm-serif-display-v3-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
}

/* dm-sans-regular - latin */
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  src: local('DM Sans Regular'), local('DMSans-Regular'),
       url('/fonts/dm-sans-v3-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/dm-sans-v3-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/fonts/dm-sans-v3-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
}
/* dm-sans-italic - latin */
@font-face {
  font-family: 'DM Sans';
  font-style: italic;
  font-weight: 400;
  src: local('DM Sans Italic'), local('DMSans-Italic'),
       url('/fonts/dm-sans-v3-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/dm-sans-v3-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('/fonts/dm-sans-v3-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
}

/* dm-sans-700 - latin */
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  src: local('DM Sans Bold'), local('DMSans-Bold'),
       url('/fonts/dm-sans-v3-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/dm-sans-v3-latin-700.woff') format('woff'), /* Modern Browsers */
       url('/fonts/dm-sans-v3-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
}
/* dm-sans-700italic - latin */
@font-face {
  font-family: 'DM Sans';
  font-style: italic;
  font-weight: 700;
  src: local('DM Sans Bold Italic'), local('DMSans-BoldItalic'),
       url('/fonts/dm-sans-v3-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/dm-sans-v3-latin-700italic.woff') format('woff'), /* Modern Browsers */
       url('/fonts/dm-sans-v3-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
}

body {
  // Strip the unit off the size ratio to generate a line height
  $line-height: get-size(600);
  line-height: $line-height / ($line-height * 0 + 1);

  @include apply-utility('font', 'base');
}

h1,
h2,
h3 {
  @include apply-utility('font', 'serif');
}

h1 {
  font-size: get-size(700);
}

h2 {
  font-size: get-size(600);
}

h3 {
  font-size: get-size(500);
}

@include media-query('md') {
  h1 {
    font-size: get-size(900);
  }

  h2 {
    font-size: get-size(800);
  }

  h3 {
    font-size: get-size(700);
  }
}
